<h1>Customers</h1>
<div id="section-1">
  <ng-template #suffixIconSearch>
    <span style="margin: 10px;" nz-icon nzType="search"></span>
  </ng-template>
  <nz-input-group [nzPrefix]="suffixIconSearch" style="width: 50%">
    <input
      type="text"
      [formControl]="search"
      nz-input
      placeholder="Search for Customers"
      nzSize="large"
    />
  </nz-input-group>
  <button (click)="addCustomer()" nzSize="large" style="border-radius: 10px" nz-button nzType="primary">
    Add Customer
  </button>
</div>
<nz-table [nzShowPagination]="false" #basicTable [nzData]="filteredDataSet">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Address</th>
      <th>Cnic</th>
      <th>License Number</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.customerName }}</td>
      <td>{{ data.phoneNumber }}</td>
      <td>{{ data.address }}</td>
      <td>{{ data.cnic }}</td>
      <td>{{ data.licenseNumber }}</td>
      <td>
        <span (click)="editCustomer(data)" nz-icon nzType="edit" style="font-size: 16px; margin-right: 0px;" nzTheme="twotone"></span>
        <nz-divider nzType="vertical"></nz-divider>
        <span (click)="deleteCustomer(data.customerId)" nz-icon nzType="delete" style="font-size: 16px; margin-right: 0px;" nzTheme="twotone"></span>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <nz-pagination [nzPageIndex]="1" [nzTotal]="totalItems" [nzPageSize]="itemsPerPage" (nzPageIndexChange)="pageIndexChanged($event)"></nz-pagination>
  </tfoot>
</nz-table>
